<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--site user who is a member, details-->
  <ion-item>
    <ion-input [(ngModel)]="memberName" placeholder="Name" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="address" placeholder="Address" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="email" placeholder="Email" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="username" placeholder="Username" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="memberImage" placeholder="Profile Picture" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="memberPW" placeholder="Password" type="password"></ion-input>
  </ion-item>

  <ion-button color="dark" expand="block" (click)="register()">Register</ion-button>

  <p class="ion-text-center">Already become a Member? <strong routerLink="/login">Login Here</strong></p>
  <p class="ion-text-center">Are you a seller? <strong routerLink="/login-store">Login Here</strong></p>
</ion-content>
