<ion-header>
  <ion-toolbar>
    <ion-title color="dark" class="ion-text-center">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        A place that welcomes all small business entrepreneurs that embraces the cultures, both traditional and modern cultures.
      </ion-col>
      <ion-col>
        <img src="https://images.unsplash.com/photo-1452860606245-08befc0ff44b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
      </ion-col>
    </ion-row>
    <ion-row class="rowMiddle">
      All handmade products in one place. From clothes to stationaries.
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="https://images.unsplash.com/photo-1522065893269-6fd20f6d7438?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
      </ion-col>
      <ion-col>
        Modern and traditional cultures in one digital platform.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
