<ion-header>
  <ion-toolbar>
    <ion-title color="dark" class="ion-text-center">Seller Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Lan Fabric</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>9 - 16 & 19 - 20th Floor Menara PNB 201-A Jalan Tun Razak, Kuala Lumpur, Wilayah Persekutuan</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>lanfabric@gmail.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
        </ion-item>
        <ion-button>Update Store Profile</ion-button>
        <ion-button color="danger">Delete Account</ion-button>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-thumbnail>
            <img src="https://images.unsplash.com/photo-1524404794194-16bae22718c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80">
          </ion-thumbnail>
          <ion-label>
            <p><strong>Cotton fabric </strong></p>
            <p><strong>RM 35 </strong></p>
            <p><strong>2 </strong></p>
          </ion-label>
          <ion-button color="dark">Update</ion-button>
          <ion-button color="warning" slot="end">Remove</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
