<ion-header>
  <ion-toolbar>
    <ion-title color="dark" class="ion-text-center">Admin Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <h2>Manage Member</h2>
    <ion-item>
      <ion-label>John Doe</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Jane Doe</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Alice</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <h2>Manage Seller</h2>
    <ion-item>
      <ion-label>Lan Fabric</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Furniture Made</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Stickers Shop</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <h2>Manage Category</h2>
    <ion-item>
      <ion-label>Home & Living</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Stationary</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Fashion</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <h2>Manage Product</h2>
    <ion-item>
      <ion-label>Cloth Fabric</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Jewellery</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Basket</ion-label>
      <ion-button color="dark">Edit</ion-button>
      <ion-button color="danger">Delete</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
