<ion-content fullscreen>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1><img src="https://images.pexels.com/photos/3945634/pexels-photo-3945634.jpeg"/></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src="https://images.pexels.com/photos/4226910/pexels-photo-4226910.jpeg"/></h1>
    </ion-slide>
    <ion-slide>
      <h1><img src="https://images.pexels.com/photos/6370038/pexels-photo-6370038.jpeg"/></h1>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://images.unsplash.com/photo-1524404794194-16bae22718c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80">
          <ion-card-content>
              <p class="product-name">Cotton fabric</p>
              <p class="product-price">RM 35</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
        <img src="https://image.freepik.com/free-photo/brown-wicker-laundry-basket-design-element_53876-94409.jpg">
        <ion-card-content>
          <p class="product-name">Basket</p>
          <p class="product-price">RM 50</p>
        </ion-card-content>
      </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
        <img src="https://images.unsplash.com/photo-1578469488462-96f9af23e4b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
        <ion-card-content>
          <p class="product-name">Jewellery</p>
          <p class="product-price">RM 20</p>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://images.unsplash.com/photo-1607006555987-49a12f7c0488?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="golden-colored jewellery lot in container">
          <ion-card-content>
            <p class="product-name">Handmade Soap</p>
            <p class="product-price">RM 15</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
        <img src="https://i.pinimg.com/originals/f6/c3/31/f6c3311368926c8581c0156dc017afed.jpg" alt="golden-colored jewellery lot in container">
        <ion-card-content>
          <p class="product-name">Enamel Badge</p>
          <p class="product-price">RM 15</p>
        </ion-card-content>
      </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
        <img src="https://image.freepik.com/free-vector/cute-natural-doodle-sticker-set-pink-background_53876-97818.jpg" alt="golden-colored jewellery lot in container">
        <ion-card-content>
          <p class="product-name">Stickers</p>
          <p class="product-price">RM 5</p>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Gerai Kita</ion-title>
      <p>Lot 13/14 Central View Kwang Tai Hostel, Jln Uni-Media</p>
      <p>94300 Kota Samarahan, Sarawak</p>

      <ion-list>
          <ion-icon name="call"></ion-icon>
          <ion-label>+6016-319 2189</ion-label>

          <ion-icon name="mail"></ion-icon>
          <ion-label>geraikita@gmail.com</ion-label>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="copyright">&copy; Gerai Kita 2021</p>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <ion-icon name="logo-facebook" size="large"></ion-icon>
            <ion-icon name="logo-twitter" size="large"><a href="https://www.twitter.com/"></a></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-content>
