<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="heading">Category</h2>
  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select placeholder="All" [(ngModel)]="listofCategory">
      <ion-select-option value="fashion">Fashion</ion-select-option>
      <ion-select-option value="stationary">Stationary</ion-select-option>
      <ion-select-option value="beautyandpersonalcare">Beauty & Personal Care</ion-select-option>
      <ion-select-option value="homeandliving">Home & Living</ion-select-option>
    </ion-select>
  </ion-item>

  <h2 class="heading">Products</h2>

  <p class="ion-text-center" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </p>

  <!-- <ion-list *ngIf="productList">
    <ion-card *ngFor="let pr of products; let index=index">
      <img src="http://localhost:8100/{{pr.imageFileName}}">
      <ion-card-content>
          <p class="product-name">{{pr.name}}</p>
          <p class="product-price">{{pr.price}}</p>
          <ion-icon name="cart" size="small" (click)="addToCart(product)"></ion-icon>
      </ion-card-content>
    </ion-card>
  </ion-list> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://images.unsplash.com/photo-1524404794194-16bae22718c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80">
          <ion-card-content>
              <p class="product-name">Cotton fabric</p>
              <p class="product-price">RM 35</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
        <img src="https://image.freepik.com/free-photo/brown-wicker-laundry-basket-design-element_53876-94409.jpg">
        <ion-card-content>
          <p class="product-name">Basket</p>
          <p class="product-price">RM 50</p>
        </ion-card-content>
      </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
        <img src="https://images.unsplash.com/photo-1578469488462-96f9af23e4b8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
        <ion-card-content>
          <p class="product-name">Jewellery</p>
          <p class="product-price">RM 20</p>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://images.unsplash.com/photo-1607006555987-49a12f7c0488?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="golden-colored jewellery lot in container">
          <ion-card-content>
            <p class="product-name">Handmade Soap</p>
            <p class="product-price">RM 15</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
        <img src="https://i.pinimg.com/originals/f6/c3/31/f6c3311368926c8581c0156dc017afed.jpg" alt="golden-colored jewellery lot in container">
        <ion-card-content>
          <p class="product-name">Enamel Badge</p>
          <p class="product-price">RM 15</p>
        </ion-card-content>
      </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
        <img src="https://image.freepik.com/free-vector/cute-natural-doodle-sticker-set-pink-background_53876-97818.jpg" alt="golden-colored jewellery lot in container">
        <ion-card-content>
          <p class="product-name">Stickers</p>
          <p class="product-price">RM 5</p>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
