<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let product of Cart">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <h3><b>{{product.name}}</b></h3>
            <p>Quantity: {{product.Quantity}}</p>
            <p>Amount: {{product.totalAmount}}</p>
          <ion-button (click)="onEdit(product.ProductID,product.id,product.Quantity)" type="button">Edit</ion-button>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="!empty">
          <ion-item>
            <p>Your Total Amount: {{TotalAmountOfProduct}} </p>
            <ion-button type="button" (click)="checkOut()">Checkout</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
